.post-date{
	background:#f4f4f4;
	padding:4px;
	margin:3px 0;
	display:block;
}

.post-thumb{
	width:100%;
}

.pagination-links{
	margin:30px 0;
}

.pagination-links strong{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link{
	padding: 8px 13px;
	margin:5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.cat-delete{
	display:inline;
}

.parallax {
	/* The image used */
	/* background-image: url("img_parallax.jpg"); */
  
	/* Set a specific height */
	height: 500px;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}